body{
  background-color: #F2F2F2;
}
nav{
  background-color: navy;
}

.main-image{
  margin-bottom: 50px;
}

.jumbotron{
  margin-top: 50px;
  background-color: #F2F2F2;
  display:inline-block;
  text-align:center;
  width:100%;
}

div.field-a {
  margin-top: 30px;
  list-style: none;
}