{% extends "jpapp/base.html" %}

{% block content %}
<div class="container">
  <form id="search-form" action="" method="GET">
    {{ search_form.key_word }}
    <button type="submit" id="search-button">検索</button>
    <div class="inline-checkbox">
        {{ search_form.tag_name }}
    </div>
  </form>
  <a class="btn btn-primary my-3" href="{% url 'jpapp:companies_create' %}" role="button"><i class="far fa-edit"></i>企業を登録</a> 
  <div class="container">
  {% for list in company_list %}
  <div class="alert alert-light border-top rounded-0" role="alert">
    <div class="row">
      <div class="col-sm-4 border-right">
        <a href="{% url 'jpapp:month_with_schedule_create' %}"><i class="fas fa-calendar-plus"></i></a><br>
        応募日：{{ list.application_date|default_if_none:" " }}<br>
        {% for schedule in list.schedule_set.all %}
          <a href="{% url 'jpapp:month_with_schedule_detail' schedule.pk %}" class="alert-link">{{ schedule.get_interview_phase_display }}/{{ schedule.date }}</a><br>
        {% endfor %}
      </div>
      <div class="col-sm-8">
        <div class="company_title">
          <div>
            <h4><a href="{% url 'jpapp:companies_detail'  list.pk %}" class="alert-link">{{ list.company_name }}</a></h4>
          </div>
          <div>
            {% if list.phase == 7 %}
            <span class="badge bg-dark">{{ list.get_phase_display }}</span>
            {% elif list.phase == 6 %}
            <span class="badge bg-danger">{{ list.get_phase_display }}</span>
            {% elif list.phase == 0 %}
            <span class="badge bg-info">{{ list.get_phase_display }}</span>
            {% else %}
            <span class="badge bg-success">{{ list.get_phase_display }}</span> 
            {% endif %}
          </div>
        </div>
        <div>
          <p>{{ list.url|default_if_none:" "  }}</p>
          <p>
          応募経路：{{ list.get_route_display }}
          勤務地：{{ list.get_location_display }}
          業務形態：
          {% for tag in list.tag.all %}
          {{ tag }}
          {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
