{% extends "jpapp/base.html" %}

{% block content %}
<div class="container">
  <h1>リスト一覧</h1>
  <a class="btn btn-primary my-3" href="{% url 'jpapp:companies_create' %}" role="button"><i class="far fa-edit"></i>企業を登録</a> 
  {% for list in company_list %}
  <div class="card w-100">
    <div class="card-header">
      {% if list.phase == 7 %}
        <span class="badge bg-secondary">{{ list.get_phase_display }}</span>
      {% elif list.phase == 6 %}
        <span class="badge bg-danger">{{ list.get_phase_display }}</span>
      {% elif list.phase == 7 %}
        <span class="badge bg-info">{{ list.get_phase_display }}</span>
      {% else %}
        <span class="badge bg-light">{{ list.get_phase_display }}</span> 
      {% endif %}
      応募日：{{ list.application_date|default_if_none:" " }}
    </div>
    <div class="card-body">
      <h5><a href="{% url 'jpapp:companies_detail'  list.pk %}" >{{ list.company_name }}</a></h5>
      <p class="card-text">
        {{ list.url }}
      </p>
      <p class="card-text">{{ list.route }}{{ list.business_form }}{{ list.location }}</p>
      {% for interview in list.interview_set.all %}
      <a href="{% url 'jpapp:interviews_detail' interview.pk %}">{{ interview.get_interview_phase_display }} {{ interview.interview_datetime }}</a>
      {% endfor %}

      <a href="{% url 'jpapp:interviews_create' %}"><i class="far fa-calendar-alt"></i></a>
    </div>
  </div>
  {% endfor %} 
</div>
{% endblock %}
