{% extends "jpapp/base.html" %}

{% block content %}
<div class="container">
  <h1>リスト一覧</h1>
  <a class="btn btn-primary my-3" href="{% url 'jpapp:companies_create' %}" role="button">作成</a> 

  <div class="row">
    <div class="col-8 bgred">
      <p>企業情報</p>
    </div>
    <div class="col-4 bgblue">
      <p>選考フェーズ</p>
    </div>
  </div>
    {% for list in company_list %}
    
    <div class="alert alert-success" role="alert">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h3><a href="{% url 'jpapp:companies_detail' list.pk %}">{{ list.company_name }}</a></h3>
          </div>
          <div class="col-4">
            {% if list.phase == 7 %}
              <h4><span class="badge bg-secondary">{{ list.get_phase_display }}</span></h4>
            {% elif list.phase == 6 %}
              <h4><span class="badge bg-danger">{{ list.get_phase_display }}</span></h4>
            {% elif list.phase == 7 %}
              <h4><span class="badge bg-info">{{ list.get_phase_display }}</span></h4>
            {% else %}
              <h4><span class="badge bg-light">{{ list.get_phase_display }}</span></h4>
            {% endif %}
            {% for interview in list.interview_set.all %}
              <h4><span class="badge bg-light"><a href="{% url 'jpapp:interviews_detail' interview.pk %}" class="card m-3">{{ interview.get_interview_phase_display }} {{ interview.interview_datetime }}</a></span></h4>
            {% endfor %}
              <a href="{% url 'jpapp:interviews_create' %}" class="text-dark"><i class="far fa-plus-square"></i> さらにカードを追加</a>
          </div>
        </div>
        <div class="row">
          <div>
            <p>場所:{{ list.location }}</p>
            <p>資本金:{{ list.capital }}</p>
            <p>従業員:{{ list.total_employee }}</p>
            <p>設立:{{ list.establishd }}</p>
            <p>応募:{{ list.application_date }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}  
  </a>
</div>
{% endblock %}
