{% extends "jpapp/base.html" %}

{% block content %}

<h1>リスト編集</h1>
<form action="" method="POST">
  {{ form.non_field_errors }}
  <div class="field">
      {{ form.company_name.label_tag }}
      {{ form.company_name }}
      <span class="helptext">{{ form.company_name.help_text }}</span>
      {{ form.company_name.errors }}
  </div>
  <div class="field">
    {{ form.url.label_tag }}
    {{ form.url }}
    <span class="helptext">{{ form.url.help_text }}</span>
    {{ form.url.errors }}
  </div>
  <div class="field">
    {{ form.route.label_tag }}
    {{ form.route }}
    <span class="helptext">{{ form.route.help_text }}</span>
    {{ form.route.errors }}
  </div>
  <div class="field">
    {{ form.business_form.label_tag }}
    {{ form.business_form }}
    <span class="helptext">{{ form.business_form.help_text }}</span>
    {{ form.business_form.errors }}
  </div>
  <div class="field">
      {{ form.location.label_tag }}
      {{ form.location }}
      <span class="helptext">{{ form.location.help_text }}</span>
      {{ form.location.errors }}
  </div>
  <div class="field">
      {{ form.description.label_tag }}
      {{ form.description }}
      {{ form.description.errors }}
  </div>
  <div class="field">
      {{ form.phase.label_tag }}
      {{ form.phase }}
      {{ form.phase.errors }}
  </div>
  <div class="field">
      {{ form.application_date.label_tag }}
      {{ form.application_date }}
      {{ form.application_date.errors }}
  </div>
  <div class="field">
      <button type="submit">送信</button>
  </div>
  {% csrf_token %}
</form>
{% endblock %}