{% extends "jpapp/base.html" %}

{% block content %}
<div class="container">
  <h1>カード一覧</h1>
  <a class="btn btn-primary my-3" href="{% url 'jpapp:tasks_create' %}" role="button">作成</a>
  <div class="card-columns">
    {% for task in task_list %}
    <a href="{% url 'jpapp:tasks_detail' task.pk %}" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ task.task_title }}</h5>
        <footer>
          <small class="text-muted">作成者: {{ task.user.username }}</small>
        </footer>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}