{% extends "jpapp/base.html" %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <h3>掲示板</h3>
</div>

<div class="container">
  {% for item in object_list %}
  <div class="alert alert-success" role="alert">
    <p>タイトル:<a href="{% url 'jpapp:boards_detail' item.pk %}">{{ item.board_title }}</a></p>
    <p>内容:{{ item.board_content }}</p>
    <p>投稿者:{{ item.user }}</p>
    <a href="#" class="btn btn-primary" role="button" aria-pressed="true">primarylink</a>
    <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">primarylink</a>
  </div>
  {% endfor %}
</div>
{% endblock %}