{% extends "jpapp/base.html" %}

{% block content %}
<div class="container">
  <h1>カード詳細</h1>
  <dl class="row">
    <dt class="col-sm-3">企業名</dt>
    <dd class="col-sm-9">{{ interv.company }}</dd>
    <dt class="col-sm-3">選考フェーズ</dt>
    <dd class="col-sm-9">{{ interview.get_interview_phase_display }}</dd>
    <dt class="col-sm-3">選考日程</dt>
    <dd class="col-sm-9">{{ interview.interview_datetime }}</dd>
    <dt class="col-sm-3">詳細</dt>
    <dd class="col-sm-9">{{ interview.interview_description }}</dd>
  </dl>

  <a class="btn btn-primary" href="{% url 'jpapp:interviews_update' interview.pk  %}" role="button">編集</a>
  <a class="btn btn-danger" href="{% url 'jpapp:interviews_delete' interview.pk  %}" role="button">削除</a>
</div>

{% endblock %}

