{% extends "jpapp/base.html" %}

{% block content %}
<div class="container">
  <h1>面接一覧</h1>
  <a class="btn btn-primary my-3" href="{% url 'jpapp:interviews_create' %}" role="button">作成</a>
  <div class="card-columns">
    {% for interview in interview_list %}
    <a href="{% url 'jpapp:interviews_detail' interview.pk %}" class="card">
      <div class="card-body">
        <p>{{ interview.company }}</p>
        <h5 class="card-title">{{ interview.get_interview_phase_display }}</h5>
        <footer>
          <small class="text-muted">作成者: {{ interview.user.username }}</small>
        </footer>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}