{% extends "jpapp/base.html" %}

{% block content %}
{% load static %}
<div class="main-image">
  <img src="{% static "jpapp/2535295_l2.jpg" %}" class="img-fluid" alt="Responsive image">
</div>
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="{% static "jpapp/2021-04-19_company.png" %}" class="img-fluid" alt="Responsive image">
      <div class="card-body">
        <h5 class="card-title">企業一覧機能</h5>
        <p class="card-text">企業の情報、選考状況を一覧で管理することができます</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static "jpapp/2021-04-19_task.png" %}" class="img-fluid" alt="Responsive image">
      <div class="card-body">
        <h5 class="card-title">タスク管理機能</h5>
        <p class="card-text">転職活動に関わるタスクを管理することができます</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static "jpapp/2021-04-19_board.png" %}" class="img-fluid" alt="Responsive image">
      <div class="card-body">
        <h5 class="card-title">掲示板機能</h5>
        <p class="card-text">転職活動の悩みの共有や質問ができます</p>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="jumbotron-upper">
      <h1 class="display-4">Job portで快適な転職活動をはじめませんか？</h1>
    </div>
    <div class="jumbotron-lower">
      <a class="btn btn-info btn-lg" href="{% url 'login' %}"  role="button"><i class="fas fa-sign-in-alt"></i>ログイン</a>
      <a class="btn btn-info btn-lg" href="{% url 'jpapp:guest_login' %}"  role="button">ゲストログイン</a>
      <a class="btn btn-info btn-lg" href="{% url 'jpapp:signup' %}" role="button"><i class="fas fa-user-plus"></i>サインアップ</a>
    </div>
  </div>
</div>



{% endblock %}